* {
  border: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

html,
body {
  background: #202020;
}

img {
  height: 50px;
}

main {
  min-height: 100vh;
}

::-webkit-scrollbar {
  background: linear-gradient(to top, #8e9eab, #eef2f3);
  width: 15px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(to top, #8e9eab, #eef2f3);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: #42b983;
  border-radius: 15px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.session-title {
  color: #42b983;
  margin-top: 5%;
  text-align: center;
}

.btn-app {
  background-color: transparent;
  border-radius: 0.5rem;
  border: 2px solid #42b983;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  overflow: hidden;
  padding: 0.8em 1.8em;
  position: relative;
  text-align: center;
  transition: 0.3s;
  z-index: 1;
}
.btn-app::before {
  background: #42b983;
  content: "";
  display: block;
  height: 300%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.5s ease;
  width: 0;
  z-index: -1;
}
.btn-app:hover::before {
  width: 105%;
}
.btn-app:hover {
  color: #fff;
}

//navbar
.btn-nav {
  background-color: transparent;
  border: 2px solid #42b983;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  overflow: hidden;
  padding: 0.8em 1.8em;
  position: relative;
  text-align: center;
  transition: 0.3s;
  z-index: 1;
}
.btn-nav::before {
  background: #42b983;
  content: "";
  display: block;
  height: 300%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.5s ease;
  width: 0;
  z-index: -1;
}
.btn-nav:hover::before {
  width: 105%;
}
.btn-nav:hover {
  color: #fff;
}

//form
.footer {
  align-items: center;
  bottom: 0;
  display: flex;
  font-size: 2rem;
  height: 4rem;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
}

form {
  align-items: center;
  justify-content: center;
  width: 99%;
  display: flex;
}

input {
  background-color: rgb(28, 28, 30);
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
  color: #fff;
  font-size: 60%;
  height: 3.2rem;
  outline: none;
  padding: 0.4vw;
  transition: 0.4s;
  width: 100%;
}
input:hover {
  box-shadow: 0 0 0 0.15vw rgba(135, 207, 235, 0.186);
}
input:focus {
  box-shadow: 0 0 0 0.15vw #42b983;
}
input[type="text"]::-webkit-input-placeholder {
  text-indent: 5px;
}
input[type="text"]::-moz-placeholder {
  text-indent: 5px;
}
input[type="text"]:-ms-input-placeholder {
  text-indent: 5px;
}
input[type="text"]::-ms-input-placeholder {
  text-indent: 5px;
}
input[type="text"]::placeholder {
  text-indent: 5px;
}

//shat
.card {
  box-shadow: rgb(0 0 0 / 50%) 0 0 1rem;
  width: 20rem;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mi-mensaje {
  background-color: #4ac959;
  border-radius: 10px;
  color: #ffff;
  margin-left: auto;
  max-width: 70%;
  padding: 10px;
  position: relative;
  text-align: end;
}
.mi-mensaje::before {
  border-bottom: 10px solid transparent;
  border-left: 10px solid #4ac959;
  border-top: 10px solid transparent;
  content: "";
  position: absolute;
  right: -10px;
  top: 10px;
}

.otro-mensaje {
  background: #333333;
  border-radius: 10px;
  color: #ffff;
  max-width: 70%;
  padding: 10px;
  position: relative;
}
.otro-mensaje::before {
  border-bottom: 10px solid transparent;
  border-right: 10px solid #333333;
  border-top: 10px solid transparent;
  content: "";
  left: -10px;
  position: absolute;
  top: 10px;
}
